/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

/* Basic styling for the body */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Navigation styling */
nav {
  background-color: #252729;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Header styling */
header {
  background-color: #12151a;
  padding: 20px;
  color: #fff;
}

header div {
  display: flex;
  align-items: center;
}

#premium,
#logout,
#btn,
#download-expense {
  transition: background-color 0.3s, color 0.3s;
}

#premium:hover {
  background-color: #218838;
}

#premium-user {
  color: #ffffff;
  margin-right: 10px;
}

#showleaderboard {
  background-color: #3e91eb; /* Blue color */
  color: #fff
}

#showleaderboard:hover {
  background-color: #6bda4f; /* Green color on hover */
}

.view-expense {
  background-color: #3e91eb;
  margin-left: 30px; /* Blue color */
  color: #fff
  
}

.view-expense a {
  text-decoration: none;
  color: #ffffff;
}

#logout:hover {
  background-color: #f10a0a;
}

#logout {
  background-color: #0e9aec;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 30px;
}

/* Form styling */
.choose-expense {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select,
button {
  margin-bottom: 15px;
  padding: 10px;
}

#btn {
  background-color: #08b132;
  color: #fff;
  border: none;
  cursor: pointer;
}

#btn:hover {
  background-color: #007e2d;
}

/* Display styling */
.display {
  margin: 20px;
}

h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Page and Pagination styling */
.page {
  margin: 20px;
}

.page-btn {
  background-color: #08a816;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.page-btn:hover {
  background-color: #06b643;
}

/* Number of Expenses styling */
.number-of-expenses {
  margin: 20px;
}

/* Leaderboard styling */
#leaderboard {
  margin: 20px;
}

/* Download styling */
#download-expense {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 20px;
}

#download-expense:hover {
  background-color: #0056b3;
}

/* Hide class */
.hide {
  display: none;
}
