<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/expensetracker.css" />
    <title>Expense Tracker</title>
  </head>

  <body>
    <header>
      <div>
        <button id="premium">Buy premium</button>
        <span id="premium-user" class="hide">You are now a premium user</span>
        <button id="showleaderboard" class="hide">Show Leaderboard</button>
        <button id="logout">Logout</button>
      </div>
    </header>
    <div class="choose-expense">
      <form>
        <label>Choose expense : </label>
        <input type="text" id="expense" required />
        <label>Choose description : </label>
        <input type="text" id="description" required />
        <label for="category">Choose a category : </label>
        <select name="category" id="category">
          <option value="movie" selected>Movie</option>
          <option value="fuel">Fuel</option>
          <option value="rent">Rent</option>
          <option value="food">Food</option>
          <option value="vacation">Vacation</option>
        </select>
        <button id="btn">Add expense</button>
      </form>
    </div>
    <div><button id="download-expenses">Download Expenses</button></div>
    <div class="display">
      <h3>Expenses</h3>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Expense</th>
            <th>Income</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="expense-table-body"></tbody>
      </table>
    </div>
    <div id="leaderboard">
      <h3>Leaderboard</h3>
      <ul></ul>
    </div>
    <div id="daily">
      <h3>Daily</h3>
      <ul></ul>
    </div>
    <div id="monthly">
      <h3>Monthly</h3>
      <ul></ul>
    </div>
    <div id="yearly">
      <h3>Yearly</h3>
      <ul></ul>
    </div>
  </body>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="js/expensetracker.js"></script>
</html>
